[package]
name = "temporal_core_bridge"
version = "0.1.0"
edition = "2021"
description = "FFM bridge for Temporal Rust SDK Core"

[lib]
crate-type = ["cdylib"]

[dependencies]
temporalio-sdk-core-c-bridge = { version = "0.1.0", path = "./sdk-core/crates/sdk-core-c-bridge" }
